<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cragislist</title>
</head>
<body>
    <nav>
        <div class="container nav-wrapper">
          <a href="#" class="brand-logo">Cragislist</a>
          <ul id="nav-mobile" class="right">
            <li><a href="#">Home</a></li>
          </ul>
        </div>
      </nav>
    <div class="container">  
        <h1 style="text-align: center">What do you want to search on Cragislist?</h1>  
        <div class="row">
            <div class="col s4">
                <!--Promo Content 1--> 
                <div class="center">
                    <i class="large material-icons" style="color: #EE6E73">flash_on</i>
                    <p>Fast cragislist web scrapper</p>
                    <p class="light center">Scrape away right here with a beautiful GUI.</p>
                </div>
            </div>
            <div class="col s4">
                <!--Promo Content 2-->
                <div class="center">
                    <i class="large material-icons" style="color: orange">camera</i>
                    <p>Filter your search</p>
                    <div class="light center">We built in functionality to filter based on pricing</div>
                </div>
            </div>
            <div class="col s4">
                <!--Promo Content 3-->
                <div class="center">
                    <i class="large material-icons" style="color: blue">chrome_reader_mode</i>
                    <p>A much sexier front-end to Cragislist</p>
                    <div class="light center">We built with this ❤️.</div>
                </div>
            </div>
        </div>  
        <form action="{% url 'new_search' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="search" placeholder="Search">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
        {% block content %}

        {% endblock content%}
    </div>    
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>